<div class="dropdown notification-dropdown">

	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1", data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<!-- count the unread notifications -->
		<%= current_user.notifications.select{ |item| !item[:read] }.count %>
		<span class="glyphicon glyphicon-flag"></span>
	</button>

	<ul class="dropdown-menu">

		<li>
			<div class="dropdown-header text-center">
				Notifications
			</div>
		</li>

		<!-- render the notifications -->
		<% @notifications.each do |notification| %>
			<%= render 'notification', notification: notification %>
		<% end %>

		<li class="divider" role="separator">
			<li class="text-center">
				<%= link_to 'View All', notifications_path %>
			</li>
		</li>

	</ul>
</div>
