<% current_user.notifications.order('created_at DESC').each do |notification| %>
	<li class="notifications-dropdown-item" id="<%= notification.id %>" >

		<a href="<%= post_path(notification.post)%>">
			<%= notification_alert_message notification %>
			<br>
			<small> <%= time_ago_in_words notification.created_at %> </small>
		</a>

	</li>
<% end %>
